*.zip

\.idea/
\.build/
\.dist/
*.pyc
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/GF_q_KLmeans_sym_IB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/GF_q_KLmeansIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/lin_sym_sIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/mod_aIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/mod_GFq_sIB_class.py
/dist/ib_base-1.0-py3.6-win-amd64.egg
/ib_base.egg-info/PKG-INFO
/ib_base.egg-info/SOURCES.txt
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/__init__.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/aIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/generic_IB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/IB_kernels.cl
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/KLmeansIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/modified_sIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/sIB_class.py
/build/lib.win-amd64-3.6/information_bottleneck/information_bottleneck_algorithms/symmetric_sIB.py
/build/lib.win-amd64-3.6/information_bottleneck/tools/__init__.py
/build/lib.win-amd64-3.6/information_bottleneck/tools/basic_tools_c.cp36-win_amd64.pyd
/build/lib.win-amd64-3.6/information_bottleneck/tools/inf_theory_tools.py
/build/lib.win-amd64-3.6/information_bottleneck/tools/inf_theory_tools_c.cp36-win_amd64.pyd
/build/lib.win-amd64-3.6/information_bottleneck/tools/linear_remapping.py
/build/temp.win-amd64-3.6/Release/information_bottleneck/tools/basic_tools_c.cp36-win_amd64.exp
/build/temp.win-amd64-3.6/Release/information_bottleneck/tools/basic_tools_c.cp36-win_amd64.lib
/build/temp.win-amd64-3.6/Release/information_bottleneck/tools/basic_tools_c.obj
/build/temp.win-amd64-3.6/Release/information_bottleneck/tools/inf_theory_tools_c.cp36-win_amd64.exp
/build/temp.win-amd64-3.6/Release/information_bottleneck/tools/inf_theory_tools_c.cp36-win_amd64.lib
/build/temp.win-amd64-3.6/Release/information_bottleneck/tools/inf_theory_tools_c.obj
/information_bottleneck/tools/basic_tools_c.c
/information_bottleneck/tools/inf_theory_tools_c.c
/information_bottleneck/tools/basic_tools_c.c
/information_bottleneck/tools/inf_theory_tools_c.c
/ib_base.egg-info/dependency_links.txt
/ib_base.egg-info/top_level.txt
